# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# SQLite DBs
*.sqlite
*.sqlite3
data/*.sqlite*
project.sqlite3
league.sqlite3

# Notebooks & VS Code
.ipynb_checkpoints/
.vscode/

# Logs
logs/

# Prevent accidentally nested repo from being tracked again
/datafun-05-sql/
