# Python / venv
.venv/
__pycache__/
*.py[cod]
*$py.class

# SQLite DBs
*.sqlite
*.sqlite3
data/*.sqlite*
project.sqlite3
league.sqlite3

# Jupyter / VS Code
.ipynb_checkpoints/
.vscode/

# Logs
logs/
